<div class="post">
    <div class="post-header">
        <h1 class="post-title">{{title}}</h1>
        <span class="post-date">Posted by {{user.name}} on {{created_at}}</span>
    </div>
    <p class="post-content">{{content}}</p>

    <section id="comments-section">
        <h3>Comments</h3>
        {{#each comments}}
        <div class="comment">
            <div class="comment-header">
                <p class="comment-content">{{this.content}}</p>
                <span class="comment-date">— <strong>{{this.user.name}}</strong>, {{this.createdAt}}</span>
            </div>
        </div>
        {{/each}}
    </section>

    {{#if logged_in}}
    <section class="add-comment">
        <h3>Leave a Comment</h3>
        <form id="add-comment-form" data-post-id="{{postID}}" data-user-id="{{../user.id}}">
            <textarea name="comment" rows="5" placeholder="Your comment here" required></textarea><br>
            <button type="submit">Post Comment</button>
        </form>
    </section>
    {{else}}
    <p>You must be logged in to comment. <a href="/login">Log in</a></p>
    {{/if}}
</div>
